#content
	#content_inside
		#title
			BUSQUEDA RAPIDA
			%br/
			%br/
		%input.box{:size => "25", :type => "text", :value => "PELICULA , ACTOR"}
			%input.search{:type => "submit", :value => "Buscar"}
				%br/
				%br/
				%hr
					%br/
					#title ESTRENOS
					%table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
						%thead
							%tr
								%th{:scope => "col"} Titulo (ESP)
								%th{:scope => "col"} Titulo (ENG)
								%th{:scope => "col"} Disponible
								%th{:scope => "col"} Codigo
								%th{:scope => "col"} IMDB
						%tfoot
							%tr
								%td{:colspan => "5"}
									%em Ultimos 10 Estrenos
						%tbody
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
					#title ULTIMAS PELICULAS VENDIDAS
					%table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
						%thead
							%tr
								%th{:scope => "col"} Titulo (ESP)
								%th{:scope => "col"} Titulo (ENG)
								%th{:scope => "col"} Disponible
								%th{:scope => "col"} Codigo
								%th{:scope => "col"} IMDB
						%tfoot
							%tr
								%td{:colspan => "5"}
									%em Ultimos 5 Vendidas
						%tbody
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
							%tr
								%td Hugo
								%td Hugo
								%td 10
								%td 1
								%td
									%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
					#title
						PELICULAS MAS VENDIDAS
						%div
							%table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
								%thead
									%tr
										%th{:scope => "col"} Titulo (ESP)
										%th{:scope => "col"} Titulo (ENG)
										%th{:scope => "col"} Disponible
										%th{:scope => "col"} Codigo
										%th{:scope => "col"} IMDB
								%tfoot
									%tr
										%td{:colspan => "5"}
											%em Ultimos 5 Vendidas
								%tbody
									%tr
										%td Hugo
										%td Hugo
										%td 10
										%td 1
										%td
											%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
									%tr
										%td Hugo
										%td Hugo
										%td 10
										%td 1
										%td
											%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
									%tr
										%td Hugo
										%td Hugo
										%td 10
										%td 1
										%td
											%a{:href => "http://www.imdb.com/title/tt0970179/"} Link
									%tr
										%td Hugo
										%td Hugo
										%td 10
										%td 1
										%td
											%a{:href => "http://www.imdb.com/title/tt0970179/"} Link