#content
	#content_inside2
		#title
			RETORNAR PELICULAS
			%br/
			%br/
		%hr
			#sale
				#sale_info
					Codigo:
					%input.sale{:size => "25", :type => "text", :value => "CODIGO"}
						%input.button_sale{:type => "submit", :value => "Retornar"}
							%br/
							%br/
							%br/
