#content
  #content_inside2
    #title
      VER PELICULA
      %br/
      %br/
    %hr
      #add
        #add_picture
          %img{:alt => "", :height => "318", :src => "/assets/image.jpg"}/
          %br/
        #movie_info
          #movie_tittle El Senor de los Anillos
          The Lord of the Rings
          #movie_descrip
            %br/
            %br/
            An innocent hobbit of The Shire journeys with eight companions to the fires of Mount Doom to destroy the One Ring and the dark lord Sauron forever.
            %a{:href => "#"} IMDB
            %br/
            %br/
            %b Tipo:
            Accion
            %br/
            %b Actores:
            Elijah Wood, Ian McKellen, Orlando Bloom
            %br/
            %b Director:
            Peter Jackson
            %br/
            %br/
            %b Menu:
            Si
            %br/
            %b Calidad:
            Copia Original
            %br/
            %b Cantidad:
            12
            %br/
            %b Tipo:
            BluRay
        %br/
        %br/
        %br/