#content
  #content_inside
    #tittle_header
      #tittle_box
        %img{:alt => "", :height => "92", :src => "/assets/tape_left.png", :width => "135"}/
      #tittle_center
        #title
          %img{:alt => "", :height => "100", :src => "/assets/Pantallazo-1.png", :width => "500"}/

      #tittle_box
        %img{:alt => "", :height => "92", :src => "/assets/tape_right.png", :width => "135"}/
    %br/
    %br/
    %hr
      %br/
      #title ULTIMAS PELICULAS VENDIDAS
      %table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
        %thead
          %tr
            %th{:scope => "col"} Titulo (ESP)
            %th{:scope => "col"} Titulo (ENG)
            %th{:scope => "col"} Disponible
        %tfoot
          %tr
            %td{:colspan => "10"}
              %em Ultimos 10 Vendidas
        %tbody
          - @sales.each do |sale|
            %tr
              %td 
                - if !sale.movie.title_esp.nil? 
                  = sale.movie.title_esp
              %td
                -if !sale.movie.title_eng.nil?
                  = sale.movie.title_eng
              %td
                = sale.movie.stock
            
      