#content
	#login
		\..::Login::..
		%br/
		%hr
		%br/
		%form{:action => "main.html"}
			%input.box{:size => "25", :type => "text", :value => "USUARIO"}
				%br/
				%br/
				%input.box{:size => "25", :type => "text", :value => "CONTRASENA"}
					%br/
					%br/
					%input.button{:type => "submit", :value => "Acceder"}
		%br/
		%hr
		%img{:alt => "", :height => "27", :src => "/assets/logo_smp.png", :width => "60"}/
		%br/
		Sistema de Manejo de Peliculas
		%br/
		Version: 1.0
		%br/
		Powered by
		%br/
		%img{:alt => "", :height => "30", :src => "/assets/inter4ctive.png", :width => "36"}/