#content
	#content_inside2
		#title
			RETORNAR PELICULAS
			%br/
			%br/
		%hr
			#sale
				#sale_info
					Codigo:
					#menu-container{:style => "position:absolute; width: 300px;"}
					%input.box{:size => "25", :type => "text", :placeholder => "Nombre de pelicula", :id => 'buscar'}
						%input.button_sale{:type => "submit", :value => "Retornar", :id => "retornar", :disabled => "disabled"}
						= hidden_field :movie, :id
						= hidden_field :movie, :name
						%br/
						%br/
						%br/
