/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body
{
	background: #f7f5f5 url(/assets/bg.jpg) repeat;
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	line-height: 1.6em;
}
hr { 
  background-color: black; 
  width: 90%; 
}

#title{
	font-size:17px;
	color:#f37337;
	text-align:center;
	text-decoration:underline;
}

#header{
width:100%;
height:50px;
background:#373535;
text-align:center;
-moz-box-shadow:    0px 1px 10px 1px #606060;
 -webkit-box-shadow: 0px 1px 10px 1px #606060;
 box-shadow:         0px 1px 10px 1px #606060;
}

#header_title{
	float:left;
	width:200px;
}
#header_logo{
	margin:0 auto;
	float:left;
	width:850px;
	text-align:center;

}
#content{
	margin-top:30px;
	margin-bottom:20px;
}
/*LOGIN*/
#login{
	margin: 0 auto;
	width:400px;
	height:370px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:10px;
	text-align:center;
}

input.box {
	color: #c1c1c1;
	font-size: 1.3em;
	width: 320px;
	height: 30px;
	background: #fff;
	border:0px;
	margin-right: 5px;
	border-radius:4px;
	box-shadow:inset 0 0 2px #000000;
	padding: 10px;
}
input.box:focus {
	background-color: #fbfbfb;
	-moz-box-shadow: 		0 0 4px 1px #e18154;
	-webkit-box-shadow: 0 0 4px 1px #e18154;
	box-shadow: 				0 0 4px 1px #e18154;
	outline: none;
}
.button {
	margin-left:65px;
	width:260px;
	height:45px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f37337), to(#f37337));
	background-image: -webkit-linear-gradient(top, #f37337, #f37337);
	background-image:    -moz-linear-gradient(top, #f37337, #f37337);
	background-image:     -ms-linear-gradient(top, #f37337, #f37337);
	background-image:      -o-linear-gradient(top, #f37337, #f37337);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
	display: block;
}
.button:hover {
	width:260px;
	height:45px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7520d), to(#e7520d));
	background-image: -webkit-linear-gradient(top, #e7520d, #e7520d);
	background-image:    -moz-linear-gradient(top, #e7520d, #e7520d);
	background-image:     -ms-linear-gradient(top, #e7520d, #e7520d);
	background-image:      -o-linear-gradient(top, #e7520d, #e7520d);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
}
/*LOGIN*/


/*HEADER INTERNO*/
#htopnav{
	width:100%;
	height:50px;
	background:#373535;
	text-align:center;
	-moz-box-shadow:    0px 1px 10px 1px #606060;
	-webkit-box-shadow: 0px 1px 10px 1px #606060;
	box-shadow:         0px 1px 10px 1px #606060;
}
#hlogo{
	width:60px;
	float:left;
	margin-top:12px;

}
#hcontent{
	width:840px;
	margin:0 auto;
}

/*CONTENIDO*/
#content_inside{
	margin:0 auto;
	width: 900px;
	height: 1100px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:10px;
	text-align:center;
}
#content_inside2{
	margin:0 auto;
	width: 900px;
	height: 700px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:10px;
	text-align:center;
}
.search {
	margin-left:10px;
	width:80px;
	height:51px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f37337), to(#f37337));
	background-image: -webkit-linear-gradient(top, #f37337, #f37337);
	background-image:    -moz-linear-gradient(top, #f37337, #f37337);
	background-image:     -ms-linear-gradient(top, #f37337, #f37337);
	background-image:      -o-linear-gradient(top, #f37337, #f37337);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
	
}
.search:hover {
	width:80px;
	height:51px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7520d), to(#e7520d));
	background-image: -webkit-linear-gradient(top, #e7520d, #e7520d);
	background-image:    -moz-linear-gradient(top, #e7520d, #e7520d);
	background-image:     -ms-linear-gradient(top, #e7520d, #e7520d);
	background-image:      -o-linear-gradient(top, #e7520d, #e7520d);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
}
#tittle_header
{
	width:810px;	
	height:120px;	
	text-align:center;
	margin:0 auto;
}
#tittle_box
{
	margin-top:15px;
	width:140px;	
	height:120px;
	float:left;	
	text-align:center;
}
#tittle_center
{
	width:520px;	
	height:120px;
	float:left;	
	text-align:center;
}
/*TABLA*/
#newspaper-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 30px auto;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #da591c;
}
#newspaper-b th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
}
#newspaper-b tbody
{
	background: #f8e0d5;
}
#newspaper-b td
{
	padding: 10px;
	color: #606060;
	border-top: 1px dashed #fff;
}
#newspaper-b tbody tr:hover td
{
	color: #000;
	background: #f7c08f;
}

/*MENU*/
#menu
{
	margin: 0 auto;
	width:780px;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #000;
	/*text-shadow:0 5px 5px #000;*/
}

/*MENU*/

ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 100%;
	background: #222;
	font-size: 1.2em;
	background: url(/assets/topnav_bg.gif) repeat-x;
	margin-top:8px;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #e6e6e6;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(/assets/topnav_hover.gif) no-repeat center top;
	color: #e6e6e6;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 10px;
	height: 49px;
	float: left;
	background: url(/assets/arrow_menu.png) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	font-size:12px;
	list-style: none;
	text-align: left;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: -10px; top: 41px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
	z-index: 4;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #373535 ;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(/assets/dropdown_linkbg.gif) no-repeat 10px center; 
}

/*AGREGAR PELICULA*/
#add{
	margin: 0 auto;
	width:800px;
	text-align:center;

}
#add_picture{
	text-align:center;
	float:left;
	width:260px;
	height:340px;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:5px;
	border-radius:4px;
}
#add_info{
	float:left;
	width:490px;
	height:340px;
	margin-left:25px;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:5px;
	border-radius:4px;
	text-align:left;
}
#add_extra{
	margin-top:10px;
	width:788px;
	height:200px;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:5px;
	border-radius:4px;
	float:left;
	text-align:left;
}
#add_extra2{
	margin-top:10px;
	width:788px;
	height:250px;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:5px;
	border-radius:4px;
	float:left;
	text-align:center;
	font-size:1.1em;
}
input.add {
	margin-top:10px;
	color: #c1c1c1;
	font-size: 1.2em;
	width: 370px;
	height: 10px;
	background: #fff;
	border:0px;
	margin-right: 5px;
	border-radius:4px;
	box-shadow:inset 0 0 2px #000000;
	padding: 10px;
}
input.add:focus {
	background-color: #fbfbfb;
	-moz-box-shadow: 		0 0 4px 1px #e18154;
	-webkit-box-shadow: 0 0 4px 1px #e18154;
	box-shadow: 				0 0 4px 1px #e18154;
	outline: none;
	color:#000;
}

.descripcion{
	color: #c1c1c1;
	font-size: 1.1em;
	width: 370px;
	height: 100px;
	background: #fff;
	border:0px;
	margin-right: 5px;
	border-radius:4px;
	box-shadow:inset 0 0 2px #000000;
	padding: 10px;
}
.descripcion:focus{
	background-color: #fbfbfb;
	-moz-box-shadow: 		0 0 4px 1px #e18154;
	-webkit-box-shadow: 0 0 4px 1px #e18154;
	box-shadow: 				0 0 4px 1px #e18154;
	outline: none;
	color:#000;
}
.button_add {
	margin-top:20px;
	width:260px;
	height:45px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f37337), to(#f37337));
	background-image: -webkit-linear-gradient(top, #f37337, #f37337);
	background-image:    -moz-linear-gradient(top, #f37337, #f37337);
	background-image:     -ms-linear-gradient(top, #f37337, #f37337);
	background-image:      -o-linear-gradient(top, #f37337, #f37337);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
	
}
.button_add:hover {
	width:260px;
	height:45px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7520d), to(#e7520d));
	background-image: -webkit-linear-gradient(top, #e7520d, #e7520d);
	background-image:    -moz-linear-gradient(top, #e7520d, #e7520d);
	background-image:     -ms-linear-gradient(top, #e7520d, #e7520d);
	background-image:      -o-linear-gradient(top, #e7520d, #e7520d);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
}
select{
	color: #c1c1c1;
	width:280px;
	margin-top:10px;
	font-size: 1.1em;
	height: 30px;
  border-style:solid;
	border-width:0px;
	box-shadow:inset 0 0 2px #000000;
	margin-right: 5px;
	border-radius:4px;

}


select:hover{
	color:#000;
}
/*VER PELICULA*/
#movie_info
{
	float:left;
	width:490px;
	height:340px;
	margin-left:25px;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	padding:5px;
	border-radius:4px;	
}
#movie_tittle
{
	text-align:center;
	font-size:1.6em;
	color:#f37337;	
	text-decoration:underline;
}
#movie_descrip
{
	text-align:left;
	font-size:1.2em;
	
}

/*VENTA*/
#sale{
	margin: 0 auto;
	width:800px;
	text-align:center;

}

#sale_info{
	float:left;
	width:800px;
	height:540px;
	border-style:solid;
	border-width:1px;
	border-color:#c1c1c1;
	border-radius:4px;
}

input.sale {
	margin-top:10px;
	color: #c1c1c1;
	font-size: 1.1em;
	width: 100px;
	height: 10px;
	background: #fff;
	border:0px;
	margin-right: 5px;
	border-radius:4px;
	box-shadow:inset 0 0 2px #000000;
	padding: 10px;
}
input.sale:focus {
	background-color: #fbfbfb;
	-moz-box-shadow: 		0 0 4px 1px #e18154;
	-webkit-box-shadow: 0 0 4px 1px #e18154;
	box-shadow: 				0 0 4px 1px #e18154;
	outline: none;
}
.button_sale {
	margin-top:20px;
	width:80px;
	height:30px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f37337), to(#f37337));
	background-image: -webkit-linear-gradient(top, #f37337, #f37337);
	background-image:    -moz-linear-gradient(top, #f37337, #f37337);
	background-image:     -ms-linear-gradient(top, #f37337, #f37337);
	background-image:      -o-linear-gradient(top, #f37337, #f37337);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
	
}
.button_sale:hover {
	width:80px;
	height:30px;
  border-style:solid;
	border-width:1px;
	border-color:#ee820f;
	/*box-shadow:0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #707070;*/
  padding: 2px 8px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7520d), to(#e7520d));
	background-image: -webkit-linear-gradient(top, #e7520d, #e7520d);
	background-image:    -moz-linear-gradient(top, #e7520d, #e7520d);
	background-image:     -ms-linear-gradient(top, #e7520d, #e7520d);
	background-image:      -o-linear-gradient(top, #e7520d, #e7520d);
	color:#ebebeb;
	font-size:12px;
	font-weight:bold;
}

#sales_autocomplete
{
	width:600px;
	margin:0 auto;
}
