<!DOCTYPE html>
%html
	%head
		%title SMP - Sistema de Manejo de Peliculas
		= stylesheet_link_tag    "application"
		= csrf_meta_tags
		%link{:href => "/assets/demos.css", :rel => "stylesheet"}
		%link{:href => "/assets/jquery.ui.all.css", :rel => "stylesheet"}/
		%script{:src => "/assets/jquery-1.6.2.js"}
		%script{:src => "/assets/jquery.ui.core.js"}
		%script{:src => "/assets/jquery.ui.widget.js"}
		%script{:src => "/assets/jquery.ui.datepicker.js"}
		= javascript_include_tag "application"
		:javascript
			$(function() {
				$( "#datepicker" ).datepicker();
				$( "#datepicker2" ).datepicker();
			});

		
		:javascript
			$(document).ready(function(){

				$("ul.subnav").parent().append(""); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav
				
				$("ul.topnav li a").click(function() { //When trigger is clicked...
					
					//Following events are applied to the subnav itself (moving subnav up and down)
					$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

					$(this).parent().hover(function() {
					}, function(){	
						$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
					});

					//Following events are applied to the trigger (Hover events for the trigger)
					}).hover(function() { 
						$(this).addClass("subhover"); //On hover over, add class "subhover"
					}, function(){	//On Hover Out
						$(this).removeClass("subhover"); //On hover out, remove class "subhover"
				});

			});
%body
	#body
		#htopnav
			#hcontent
				#hlogo
					%img{:alt => "", :height => "27", :src => "/assets/logo_smp.png", :width => "60"}/
				#menu
					%ul.topnav
						%li
							%a{:href => "/home"} INICIO
						%li
							%a{:href => "#"} VENTAS
							%ul.subnav
								%li
									%a{:href => "/sales"} Ver
								%li
									%a{:href => "/sales/new"} Nueva
							%span
						%li
							%a{:href => "/returns/new"} RETORNAR
						%li
							%a{:href => "index.html"} BUSCAR
						%li
							%a{:href => "#"} PELICULAS
							%ul.subnav
								%li
									%a{:href => "/movies"} Ver
								%li
									%a{:href => "/movies/new"} Agregar
							%span
						%li
							%a{:href => "#"} HERRAMIENTAS
							%ul.subnav
								%li
									%a{:href => "#"} Generar Etiquetas
							%span
						%li
							%a{:href => "#"} AYUDA
							%ul.subnav
								%li
									%a{:href => "#"} Ayuda
								%li
									%a{:href => "#"} Soporte
								%li
									%a{:href => "#"} Acerca de SMP
							%span
		= yield